/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  div.mat-list-item-content:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 10px
  }

  .mat-list-text{
    margin-left: 20px;
  }

  img .contact-img .mat-list-avatar{
    padding-bottom: 20px;  
  }

  mat-list-item:hover mat-icon{
    display: block;
  }


